

<footer class="d-flex w-100">
    <menu>
        <div class="d-flex w-100 text-center">
            <a href="#" class="flex-fill">
                <i class="icon-directions_car"></i>
                <div>Парковка</div>
            </a>
            <span class="flex-fill">
                <i class="icon-qr_code"></i>
                <div>QR-код</div>
            </span>
            <a href="#" class="flex-fill">
                <i class="icon-dashboard"></i>
                <div>Карта</div>
            </a>
            <span class="flex-fill active">
                <a class="menu-item flex-fill active">
                    <i class="icon-more_horiz"></i>
                    <div>Ещё</div>
                </a>
            </span>
        </div>
    </menu>
</footer>
