html, body, footer {
	font-size: 16px;
	line-height: 20px;
	font-style: normal;
	overflow-x: hidden;
	overflow-y: hidden;
}

html, body, footer, menu {
	padding: 0;
	margin: 0;
}

input:focus,
select:focus,
select:active,
textarea:focus {
	outline: none !important;
	outline-offset: 0 !important;
}

button:focus,  input[type="submit"]:focus,  input[type="button"]:focus,
button:active, input[type="submit"]:active, input[type="button"]:active {
	outline: none !important;
	outline-offset: 0 !important;
	box-shadow: none !important;
}

video {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	background-color: #FFF;
	background-position: 50% 50%;
	transform: translateX(-50%) translateY(-50%);

	z-index: 15 !important;
	height: 100vh !important;
}

.scanner-opacity {
	display: none;
	position: absolute;
	z-index: 35;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border-top-width: 175px;
	border-right-width: 100px;
	border-bottom-width: 175px;
	border-left-width: 100px;
	border-style: solid;
	border-color: #0000004f;

	/*background: transparent url(../img/scanner-opacity.svg) 0 0 no-repeat;*/
}

html, body,
html body #APP,
html body #APP .root-component {
	background-color: transparent !important;
}

body.SCANNED #APP .root-component main {
	margin-top: -100vh !important;
}

body.SCANNED video {
	background-color: green !important;
}

/******************************* Bootstrap *******************************/
.container {
	padding-right: 24px;
	padding-left: 24px;
}

.form-control {
	background: #FFF;
	line-height: 46px;
	padding: 0 20px;
	height: initial;
	font-size: 16px;
	box-shadow: 0 5px 10px rgba(95, 114, 147, 0.2)
}

.form-control:focus,
.form-control:hover,
.form-control:active {
	box-shadow: 0 5px 10px rgba(95, 114, 147, 0.2)
}

.input-group {
	position: relative;
}

.input-group .group-icon-help {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	width: 80px;
	height: 100%;
	text-align: center;
}

.input-group .group-icon-help .icon {
	font-size: 25px;
	line-height: 2;
}

.input-group.password .icon {
	cursor: pointer;
}

.input-group .btn.btn-danger {
	color: #ff6238;
	background: #ff62381a;
}

.input-group .btn.btn-loading {
	color: transparent;
	background-image: url(../img/preloader.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 50%;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

/******************************* APP *******************************/
#APP {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	position: relative;

	.root-component {
		display: flex;
		flex-flow: column;
		position: relative;
		overflow: hidden;
		width: 100%;
		max-height: 100vh;
	}

	header {
		width: 100%;
		z-index: 35;
		padding: 14px 16px;
		background-color: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
		position: relative;
		min-height: initial;

		h1 {
			line-height: 28px;
			font-size: 18px;
			margin-bottom: 0;

			+ i.icon-chevron_right {
				position: relative;
				top: 1px;
				font-size: 26px;
			}
		}

		i.icon-chevron_left {
			font-size: 28px;
			margin-right: 15px;
		}
	}

	main {
		width: 100%;
		height: 100vh;
		overflow-y: scroll;
		padding: 0 0 62px 0;
		background-color: #fff;
		transition: .3s;
		z-index: 25 !important;

		.filter {
			display: flex;
			overflow: auto;
			width: 100%;

			scrollbar-width: none;
			-ms-overflow-style: none;

			.filter-btn {
				position: relative;
				display: inline-block;
				line-height: 28px;
				padding: 0 25px;
				margin: 10px 4px 0 4px;
				border-radius: 90px;
				border-color: #F3F3F3;
				border-style: solid;
				border-width: 1px;
				font-size: 11px;
				cursor: pointer;
				white-space: nowrap;
				box-sizing: border-box;
				background-color: #fff;
				transition: .3s;
			}

			.filter-btn.active,
			.filter-btn:active,
			.filter-btn:hover,
			.filter-btn:focus {
				border-color: $yellow;
			}

			.filter-btn:first-child {
				margin-left: 0;
			}

			.filter-btn:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 10px;
				width: 8px;
				height: 8px;
				margin-top: -4px;
				border-radius: 50%;
				background-color: #418AFF;
			}

			.filter-btn.danger:after {
				background-color: #FF653C;
			}

			.filter-btn.warning:after {
				background-color: $yellow;
			}

			.filter-btn.success:after {
				background-color: #79CE4B;
			}
		}

		.filter::-webkit-scrollbar {
			display: none;
		}

		.content-wrapper {
			padding: 16px;
		}

		.content-wrapper + .content-wrapper {
			padding-top: 0;
		}
	}

	footer {
		background-color: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		z-index: 50;

		position: fixed !important;
		bottom: 0;

		menu.static {
			z-index: 35;
			position: relative;
			width: 100%;

			a, span {
				color: #ACAFB5;
				padding: 10px 0;
				font-size: 10px;
				cursor: pointer;
				transition: .3s;

				div {
					font-size: 10px;
					line-height: 13px;
				}

				i {
					font-size: 16px;
				}
			}

			a:hover, a:focus, a:active,
			span:hover, span:focus, span:active,
			a:hover div, a:focus div, a:active div,
			span:hover div, span:focus div, span:active div {
				color: #ACAFB5;
			}

			a.active,
			span.active,
			a.active div,
			span.active div {
				color: #000000;
			}
		}
	}

	#MENU {

		main {
			padding: 0;
		}
	}
}

#ABOUT {
	.about-wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 0 16px;
		text-align: center;

		.logo {
			margin-top: 100px;
		}

		.slogan {
			margin-top: 16px;
			font-weight: bold;
			font-size: 17px;
			line-height: 22px;
			color: #000000;
		}

		.version {
			margin-top: 8px;
			font-weight: 500;
			font-size: 10px;
			line-height: 13px;
			color: #979797;
		}

		.feedback {
			margin-top: 64px;
			padding: 18px;
			border-radius: 8px;

			div {
				font-weight: 600;
				font-size: 13px;
				line-height: 32px;
				color: #000000;
			}

			span {
				font-weight: bold;
				font-size: 18px;
				line-height: 32px;
				color: #3D86DD;

				i {
					font-size: 24px;
					position: relative;
					top: 5px;
					margin-right: 5px;
				}
			}
		}
	}
}

#PROFILE {

	.profile-info {
		padding: 25px 19px;

		.thumb {
			width: 72px;
			height: 72px;
			margin-right: 22px;
			border-radius: 50%;
		}

		.fullname {
			font-weight: bold;
			font-size: 15px;
			line-height: 20px;

			span {
				color: #3D86DD;
				font-size: 14px;
				line-height: 19px;
				font-weight: normal;
				margin-top: 12px;
			}
		}
	}
}

#SETTINGS {

	.settings-wrapper {

		.item {
			padding: 16px;
			margin-bottom: 16px;
			border-radius: 2px;
			box-shadow: 0 0 20px rgba(95, 114, 147, 0.2);

			.name {
				color: #000000;
				font-size: 15px;
				font-weight: bold;
				line-height: 20px;
			}

			.description {
				margin-top: 10px;
				font-weight: 500;
				font-size: 14px;
				line-height: 19px;
				color: #000000;
			}

			.link {
				margin-top: 20px;
				font-size: 14px;
				line-height: 19px;
				color: #3D86DD;
			}
		}
	}
}

#LOCATION {

	main {
		overflow: hidden;

		.map-wrapper {
			width: 100%;
			height: 35vh;
			background: transparent url(../img/map-google.png) 0 0 no-repeat;
			background-size: cover;
		}

		.location-wrapper {
			overflow: scroll;
			height: 65vh;
			padding-bottom: 63px;

			.title {
				position: fixed;
				z-index: 1;
				width: 100%;
				padding: 16px 16px 0 16px;
				color: #000000;
				font-size: 18px;
				font-weight: 600;
				line-height: 21px;
				background-color: #fff;
			}

			.items {
				overflow: scroll;
				height: 100%;
				padding: 52px 16px 48px 16px;

				.item {
					position: relative;
					padding: 13px 16px;
					margin-bottom: 8px;
					box-shadow: 0 0 20px rgba(95, 114, 147, 0.2);
					border-radius: 2px;

					.name {
						color: #000000;
						font-size: 14px;
						font-weight: bold;
						line-height: 19px;
						max-width: 160px;
					}

					.checkbox {
						position: absolute;
						top: 50%;
						right: 16px;
						width: 24px;
						height: 24px;
						margin-top: -10px;
						border: 2px solid #4D495B;
						box-sizing: border-box;
						border-radius: 8px;
					}

					.checkbox.active:after {
						position: absolute;
						top: 4px;
						left: 4px;
						content: "";
						width: 12px;
						height: 12px;
						border: 2px solid $yellow;
						border-radius: 50%;
						background: #4D495B;
					}
				}
			}
		}
	}
}

#SEARCH-FORM {
	line-height: 38px;

	button {
		width: 53px;
		margin-left: 10px;
		color: #fff;
		text-align: center;
		border-radius: 90px;
		background: $yellow;

		i {
			position: absolute;
			top: 0;
			left: 50%;
			font-size: 23px;
			margin-left: -12px;
			line-height: 40px;
		}
	}

	.input-group {
		position: relative;

		input[type="text"] {
			line-height: 38px;
			padding-left: 52px;
			background-color: #F7F7F7;
			border: 1px solid #E7E6E6;
		}

		.group-inner-left-icon {
			position: relative;

			i {
				position: absolute;
				top: 0;
				left: 18px;
				z-index: 10;
				font-size: 25px;
				line-height: 41px;
				color: #979797;
			}
		}
	}
}

#CAR {

	.car-info {
		padding: 16px 16px 35px 100px;
		border-radius: 2px;
		box-shadow: 0 0 20px rgba(95, 114, 147, 0.2);
		background: transparent url(../img/car-preview.png) 0 0 no-repeat;

		h2 {
			color: #000000;
			font-size: 21px;
			line-height: 28px;
			font-weight: bold;
			margin-bottom: 0;
		}

		.status-wrapper {
			position: relative;
			padding: 15px 15px 15px 40px;

			span {
				color: #ACAFB5;
				font-size: 12px;
				line-height: 16px;
			}

			.status-text {
				font-size: 14px;
				line-height: 19px;

				span {
					width: 24px;
					height: 24px;
					display: inline-block;
					color: #fff;
					border-radius: 50%;
					background-color: #FF6238;
					text-align: center;
				}
			}

			i {
				position: absolute;
				left: 0;
				display: inline-block;
				margin-top: 10px;
				padding: 11px 0 0 5px;
				width: 24px;
				height: 24px;
				color: #fff;
				line-height: 0;
				font-size: 14px;
				border-radius: 50%;
				background-color: #FF6238;
			}
		}

		.status-wrapper.bg-info {
			position: relative;
			margin-right: -22px;
			margin-bottom: 12px;
			padding-left: 55px;
			border-radius: 8px;

			i {
				left: 15px;
			}
		}

		.prop {
			margin-top: 8px;

			span {
				color: #ACAFB5;
				font-size: 12px;
				line-height: 16px;
			}

			div {
				color: #000000;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}

	.car-status-info {
		padding: 16px;
		text-align: center;
	}

	.car-status-info > div {
		font-size: 24px;
		margin-top: 12px;
		font-weight: bold;
	}

	.car-info-btn-wrapper {

		.btn {
			display: block;
			width: 48%;
			margin-bottom: 2%;
			font-size: 14px;

			i {
				display: block;
				font-size: 22px;
				margin-top: 20px;
			}
		}

		.btn:nth-child(1),
		.btn:nth-child(2) {
			font-size: 14px;
			line-height: 3;
		}
	}
}

#SECTOR {

	.sector-table {
		display: flex;
		flex-direction: column;

		.sector-row {
			display: flex;
			flex-direction: row;
			min-width: min-content;

			.sector-cell {
				position: relative;
				display: flex;
				min-width: min-content;
				width: 58px;
				height: 98px;
				border: 1px solid #CFD3DA;

				.status {
					position: absolute;
					right: 5px;
					bottom: 5px;
					width: 23px;
					height: 23px;
					color: #fff;
					background: #FF6238;
					border-radius: 50%;

					i {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -7px;
						margin-left: -7px;
						font-size: 13px;
					}
				}
			}

			.sector-cell.active {
				border: 3px solid #FCC300;
			}

			.sector-cell.busy {
				background: transparent url(../img/sector-car.svg) center center no-repeat;
			}
		}

		.sector-row:first-child .sector-cell:last-child {
			border-top-right-radius: 8px;
		}

		.sector-row:last-child .sector-cell:last-child {
			border-bottom-right-radius: 8px;
		}

		.sector-row:first-child .sector-cell:first-child {
			border-top-left-radius: 8px;
		}

		.sector-row:last-child .sector-cell:first-child {
			border-bottom-left-radius: 8px;
		}
	}
}

html body #APP #AUTH.root-component {
	display: flex;
	height: 100vh;
	justify-content: center;
	vertical-align: middle;
	flex-direction: column;
	align-items: flex-start;
	background-color: #F2F2F1 !important;

	.input-group {

		.btn {
			width: 100%;
		}
	}

	.contact-info {
		position: absolute;
		bottom: 50px;
		width: 100%;
		text-align: center;

		div {
			margin: 0 auto;
			font-size: 13px;
			line-height: 15px;
			max-width: 270px;
		}

		:last-child {
			margin: 5px auto;
			font-size: 24px;
			line-height: 28px;
			max-width: 280px;
		}
	}

	.logotype {
		display: flex;
		height: 65px;
		margin-bottom: 35px;
	}

	.logos-container {
		width: 325px;

		.carmart-logo {
			height: 38px;
			margin-top: 11px;
			margin-left: 80px;
		}
	}
}

div.cars-wrapper {

	.cars-list {

		.car-item {
			position: relative;
			margin: 10px 0;
			padding: 16px 20px;
			background: #FFFFFF;
			border-radius: 2px;
			transition: .3s;
			box-shadow: 0 0 20px rgba(95, 114, 147, 0.2);

			.car-notice {
				color: #000000;
				font-size: 11px;
				line-height: 15px;
				font-weight: normal;
				margin-bottom: 5px;

				position: relative;
				padding-left: 17px;
			}

			.car-notice:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -5px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: gray;
			}

			.car-name {
				color: #000000;
				font-size: 17px;
				line-height: 22px;
				font-weight: bold;
			}

			.car-description {
				color: #979797;
				font-size: 10px;
				font-weight: 500;
				line-height: 13px;
				margin-top: 10px;
			}

		}

		.car-item:active,
		.car-item:hover,
		.car-item:focus,
		.car-item.active {
			cursor: pointer;
			box-shadow: 0 10px 20px rgba(95, 114, 147, 0.2)
		}

		.car-item.danger {

			.car-notice:before {
				background-color: #FF653C;
			}
		}

		.car-item.success {

			.car-notice:before {
				background-color: #79CE4B;
			}
		}

		.car-item.warning {

			.car-notice:before {
				background-color: $yellow;
			}
		}

	}
}

div.menu-wrapper {
	margin-top: 30px;

	.menu-list {

		.menu-item.active,
		.menu-item:hover,
		.menu-item:focus,
		.menu-item:active {
			background: #EEF6FF;
		}

		.menu-item {
			display: flex;
			align-items: center;
			padding: 10px 16px;
			color: #000000;
			font-size: 14px;
			line-height: 19px;
			transition: .3s;

			span {
				display: block;
				width: 32px;
				height: 32px;
				margin-right: 12px;
				line-height: 32px;
				text-align: center;
				border-radius: 50%;
				background: #F4F9FF;
			}

			span.after {
				display: block;
				margin-right: 0;
				padding: 0 10px;
				width: initial;
				height: 18px;
				line-height: 18px;
				margin-left: 12px;
				border-radius: 90px;
				background: $yellow;
			}
		}
	}
}

div.sectors-wrapper {

	.sectors-list {

		.sector-item {
			position: relative;
			margin: 10px 0;
			padding: 16px 20px;
			background: #FFFFFF;
			border-radius: 5px;
			box-shadow: 0 0 20px rgba(95, 114, 147, 0.2);
			transition: .3s;

			.sector-name {
				color: #000000;
				font-size: 17px;
				font-weight: bold;
				line-height: 22px;
				text-transform: uppercase;
			}

			.sector-filled {
				color: #979797;
				font-weight: 500;
				font-size: 10px;
				line-height: 13px;
				margin-top: 5px;
				margin-bottom: 10px;
			}

			.sector-cars {
				display: flex;
				justify-content: space-between;

				.sector-count-cars {

					span {
						color: #979797;
						font-weight: bold;
						font-size: 11px;
						line-height: 15px;
					}

					:last-child {
						color: #000;
						font-size: 14px;
						line-height: 19px;
						margin-left: 10px;
					}
				}
			}
		}

		.sector-item:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 4px;
			border-radius: 5px 0 0 5px;
		}

		.sector-item:active,
		.sector-item:hover {
			box-shadow: 0 10px 20px rgba(95, 114, 147, 0.2);
		}

		.sector-item.danger:after {
			background-color: #FF6238;
		}

		.sector-item.warning:after {
			background-color: $yellow;
		}

		.sector-item.success:after {
			background-color: #79CE4B;
		}
	}
}

menu.widget {
	z-index: 40;
	position: absolute;
	bottom: -100vh;
	width: 100%;
	transition: .3s;

	.menu-wrapper {
		z-index: 40;
		position: relative;
		padding-top: 25px;
		padding-bottom: 70px;
		background-color: #ffffff;
		border-radius: 16px;
	}

	.modal-backdrop {
		display: none;
		z-index: 40;
	}
}

menu.widget.display {
	bottom: 0;

	.modal-backdrop {
		display: block;
	}
}
