
html, body, footer {
	font-size: 14px;
	line-height: 20px;
	font-style: normal;
	overflow-x: hidden;
	overflow-y: hidden;
}

html, body, footer, menu {
	padding: 0;
	margin: 0;
}

// отключаем подсветку активного элемента браузером
input:focus, select:focus, select:active, textarea:focus {
	outline: none !important;
	outline-offset: 0 !important;
}

// отключаем подсветку активного элемента браузером
button:focus, input[type="submit"]:focus, input[type="button"]:focus,
button:active, input[type="submit"]:active, input[type="button"]:active {
	outline: none !important;
	box-shadow: none !important;
	outline-offset: 0 !important;
}

// поведение эелемента HTML5 для правильной работы QR
video {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	background-color: transparent;
	background-position: 50% 50%;
	transform: translateX(-50%) translateY(-50%);

	z-index: $scanner-index !important;
	height: 100vh !important;
}

// корневые элементы должны быть прозрачными, чтобы управление фоном не мешало VIDEO
html, body,
html body #APP,
html body #APP .root-component {
		background-color: transparent !important;
}

body.SCANNED #APP .root-component main {
	margin-top: -150vh !important;
}

body.SCANNED #APP .root-component header {
	margin-top: -100vh !important;
}

@keyframes loader-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes text-loading {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

/******************************* Bootstrap *******************************/
.container {
	padding-right: $spacer;
	padding-left: $spacer;
}

.input-group {
	position: relative;

	.group-icon-help {
		display: flex;
		position: absolute;
		z-index: 10;
		top: 1px;
		right: 0;
		width: 70px;
		height: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;

		.icon {
			font-size: 26px;
			line-height: 2;
		}
	}

	.btn.btn-loading {
		color: transparent;
		background-image: url(../img/preloader.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 50%;
	}
}

.input-group.password .icon {
	cursor: pointer;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.modal {

	.modal-dialog {
		margin-top: 30%;
	}

	.modal-content {

		.modal-header {
			border: none !important;

			.modal-title {
				font-size: 22px;
			}
		}

		.modal .modal-body {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.modal.fade {
	display: initial;
}

/******************************* APP *******************************/

body video,
main, header, footer {
	background-color: $body-bg;
}

#APP {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	position: relative;

	@each $value in $overflows {
		.overflow-x-#{$value} { overflow-x: $value !important; }
	}

	@each $value in $overflows {
		.overflow-y-#{$value} { overflow-y: $value !important; }
	}

	@each $color, $value in $colors {
		.text-#{$color} {
			color: $value;
		}
	}

	@each $color, $value in $colors {
		.bg-#{$color} {
			background-color: $value;
		}
	}

	@each $size, $value in $sizes {
		.text-size-#{$size} {
			font-size: $value;
		}
	}

	.top-shadow {
		box-shadow: $box-top-shadow !important;
	}

	.container.items,
	.container-fluid.items {

		.col.item:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 5px;
			height: 100%;
			border-radius: $border-radius 0 0 $border-radius;
		}

		@each $color, $value in $theme-colors {
			.col.item.#{$color}:after {
				background-color: $value;
			}
		}

		.col.item {
			background-color: $sub-color;

			.notice:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -4px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}

			@each $color, $value in $theme-colors {
				.notice.#{$color}:before {
					background-color: theme-color($color);
				}
			}
		}
	}

	.root-component {
		transition: $transition-base;
	}

	.root-component#AUTH {
		position: relative;
		z-index: 25;
		display: flex;
		height: 100vh;
		justify-content: center;
		vertical-align: middle;
		flex-direction: column;
		align-items: flex-start;
		background-color: $root-component-full !important;

		.input-group {

			.btn {
				width: 100%;
			}
		}

		.contact-info {
			position: absolute;
			bottom: 50px;
			width: 100%;
			text-align: center;

			div {
				margin: 0 auto;
				font-size: 13px;
				line-height: 15px;
				max-width: 270px;
			}

			:last-child {
				margin: 5px auto;
				font-size: 24px;
				line-height: 28px;
				max-width: 280px;
			}
		}
	}

	header {
		z-index: $header-index;
		padding: $spacer;
		transition: $transition-base;
		background-color: $header-bg;

		h1 {
			line-height: 28px;
			font-size: 21px;

			+ i.icon-chevron_right {
				position: relative;
			}
		}

		.icon {
			font-size: 28px;
		}

		i.icon-chevron_left {
			margin-right: 15px;
		}
	}

	header + header {
		width: 100%;
		z-index: $header-header-index;
		padding: $half-spacer $spacer;
		position: relative;
		min-height: initial;
		background-color: $sub-color;

		.thumb {
			width: 45px;
			margin-right: $spacer;
		}
	}

	main {
		width: 100%;
		height: 100vh;
		overflow-y: hidden;
		padding: 0 0 62px 0;
		z-index: $main-index;
		margin-top: 0;
		transition: .9s;
		position: relative;
		padding-bottom: 51px;
		background-color: $main-bg;

		.filter {
			display: flex;
			overflow: auto;
			width: 100%;
			margin-bottom: $spacer;

			scrollbar-width: none;
			-ms-overflow-style: none;

			.filter-btn {
				position: relative;
				display: inline-block;
				line-height: 28px;
				padding: 0 25px;
				margin: $half-spacer 4px 0 4px;
				border-radius: 90px;
				border-color: $gray-200;
				border-style: solid;
				border-width: 1px;
				font-size: 11px;
				cursor: pointer;
				white-space: nowrap;
				box-sizing: border-box;
				background-color: $gray-100;
				transition: .3s;
			}

			.filter-btn:first-child {
				margin-left: 0;
			}

			.filter-btn.active {
				border-color: theme-color('primary');
			}

			.filter-btn:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 10px;
				width: 8px;
				height: 8px;
				margin-top: -4px;
				border-radius: 50%;
				background-color: $blue;
			}

			@each $theme, $value in $theme-colors {
				.filter-btn#{$theme}:after {
					background-color: theme-color($value);
				}
			}
		}

		.filter::-webkit-scrollbar {
			display: none;
		}

		.sticker {
			position: fixed;
			z-index: $main-sticker-index;
			left: 0;
			bottom: 60px;
			width: 100%;
			padding: $spacer;

			.btn {
				box-shadow: 0 4px 4px rgb(61 134 221 / 10%);
			}
		}
	}

	footer {
		z-index: $footer-index;
		transition: .3s;
		background-color: $footer-bg;

		position: fixed !important;
		bottom: 0;

		menu {
			position: relative;
			width: 100%;

			a, span,
			a:hover, a:focus, a:active,
			span:hover, span:focus, span:active,
			a:hover div, a:focus div, a:active div,
			span:hover div, span:focus div, span:active div {
				color: $text-muted;
			}

			a, span {
				padding: $half-spacer 0;
				font-size: 10px;
				cursor: pointer;
				transition: .3s;
				position: relative;

				div {
					font-size: 10px;
					line-height: 13px;
					position: relative;
					z-index: -1;
				}

				i {
					font-size: 16px;
					position: relative;
					z-index: -1;
				}
			}

			span {

				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: -10;
				}
			}

			a.active, span.active,
			a.active i, span.active i,
			a.active div, span.active div {
				color: $body-color;
			}
		}
	}

	footer.disabled {
		bottom: -19vh;
	}

	menu {

		.item {
			display: flex;
			align-items: center;
			padding: $half-spacer $spacer;
			color: $body-color;
			line-height: 19px;
			transition: .3s;

			.badge {
				margin-left: $half-spacer;
			}

			span.before {
				position: relative;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				width: 32px;
				height: 32px;
				margin-right: $spacer;
				line-height: 32px;
				text-align: center;
				border-radius: 50%;
			}
		}

		.item.active {
			@include gradient-bg(theme-color-level('info', $alert-bg-level));

			span.before {
				background-color: $sub-color;
			}
		}
	}

	.spinner {
		position: relative;
		height: 50px;
		width: 50px;
		margin: $spacer auto $spacer auto;
		border: 4px solid $gray-700;
		border-top-color: $yellow;
		border-radius: 50%;
		animation: loader-rotate 1s linear infinite;
		top: initial;
	}

	.text-loading {
		color: transparent;
		background: linear-gradient(100deg, #eceff1 0%, #f6f7f8 50%, #eceff1 100%);
		animation: text-loading 1.2s ease-in-out infinite;
		background-size: 500%;
	}

	.widget {
		z-index: $widget-index;
		position: absolute;
		bottom: -150vh;
		width: 100%;
		transition: .3s;
		background-color: $sub-color;

		.widget-content {
			background-color: $sub-color;

			header {
				position: fixed;
				z-index: $widget-index + 1;
			}

			main {
				transition: none;
				z-index: $widget-index;
			}

			header {
				+ main{
					padding-top: 60px;
				}
			}

			header.with-search {
				+ main{
					padding-top: 110px;
				}
			}
		}

		.content {
			z-index: $widget-index;
			position: relative;
			padding-bottom: 51px;
			border-radius: 16px;
			overflow: hidden;
			background-color: $sub-color;

			menu {
				margin-top: 20px;
			}

			.widget-meta {
				width: 100%;
				z-index: 1;
				padding: 10px 0;
				font-size: 38px;
				background-color: $header-bg;

				span {
					font-size: 13px;
					line-height: 38px;
					margin-right: 7px;
					color: $link-color;
				}

				h1 {
					font-size: 17px;
					line-height: 34px;
					margin: 0;
				}

				i {
					font-size: 28px;
					line-height: 38px;
					margin-left: 7px;
				}
			}


			.widget-meta + div {
				padding-bottom: 58px;
			}

			.content-wrapper {
				padding: $spacer;
				height: 100%;
				overflow-y: scroll;
				padding-bottom: 51px;

				.search-form {
					margin-bottom: $spacer;
				}
			}

			#NECESSITATES {

				main {
					padding-top: 150px;
					padding-bottom: 125px;
				}
			}

			#PARKING {

				main {
					padding-top: 75px;
				}
			}
		}

		.modal-backdrop {
			display: none;
			z-index: $widget-index;
		}
	}

	.widget.display {
		bottom: 0;

		.modal-backdrop {
			display: block;
		}
	}

	.widget.widget-high {
		height: 100vh;

		.content {
			height: 100%;
			overflow: hidden;
			border-radius: 0;
		}
	}

	.nav.nav-tabs {
		align-items: stretch;

		.nav-item {
			position: relative;
			padding: $spacer $half-spacer;
			white-space: pre;
			font-weight: 700;

			// Xiaomi
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.nav-item.active:after {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
			content: "";
			width: 100%;
			border-bottom: 2px solid $nav-tabs-link-active-border-color;
		}

		.nav-item.flex-fill {
			flex: 1 1 0!important;
		}
	}

	.nav.nav-tabs + .tab-content{
		padding-top: 48px;
	}

	.card {
		border-radius: 0;
		background-color: $sub-color;

		.card-link {
			color: $link-color;
		}
	}

	.sector-table {
		display: flex;
		height: 100%;
		width: 100%;
		overflow: auto;
		flex-direction: column;

		.sector-row {
			display: flex;
			flex-direction: row;
			min-width: min-content;

			.sector-cell {
				position: relative;
				display: flex;
				min-width: min-content;
				width: 58px;
				height: 98px;

				.status {
					position: absolute;
					right: 5px;
					bottom: 5px;
					z-index: 5;
					width: 23px;
					height: 23px;
					border-radius: 50%;
					background: theme-color('danger');

					i {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -7px;
						margin-left: -7px;
						font-size: 13px;
					}
				}
			}

			.sector-cell.busy:before {
				position: absolute;
				z-index: 1;
				content: '';
				width: 100%;
				height: 100%;
				background: transparent url(../tiles/car.png) center center no-repeat;
			}

			.sector-cell.tile:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-color: transparent;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.sector-cell.tile.tile-0:after {
				background-image: url(../tiles/0.png);
			}

			.sector-cell.tile.tile-1:after {
				background-image: url(../tiles/1.png);
			}

			.sector-cell.tile.tile-2:after {
				background-image: url(../tiles/2.png);
			}

			.sector-cell.tile.tile-3:after {
				background-image: url(../tiles/3.png);
			}

			.sector-cell.tile.tile-4:after {
				background-image: url(../tiles/4.png);
			}

			.sector-cell.tile.tile-bushes-0:after {
				background-image: url(../tiles/bushes-0.png);
			}

			.sector-cell.tile.tile-bushes-1:after {
				background-image: url(../tiles/bushes-1.png);
			}

			.sector-cell.tile.tile-bushes-2:after {
				background-image: url(../tiles/bushes-2.png);
			}

			.sector-cell.tile.tile-house-0:after {
				background-image: url(../tiles/house-0.png);
			}

			.sector-cell.tile.tile-house-1:after {
				background-image: url(../tiles/house-1.png);
			}

			.sector-cell.tile.tile-house-2:after {
				background-image: url(../tiles/house-2.png);
			}

			.sector-cell.tile.tile-house-3:after {
				background-image: url(../tiles/house-3.png);
			}

			.sector-cell.tile.tile-house-3:after {
				background-image: url(../tiles/house-3.png);
			}

			.sector-cell.tile.tile-house-4:after {
				background-image: url(../tiles/house-4.png);
			}

			.sector-cell.tile.tile-house-5:after {
				background-image: url(../tiles/house-5.png);
			}

			.sector-cell.tile.tile-house-6:after {
				background-image: url(../tiles/house-6.png);
			}

			.sector-cell.tile.tile-house-7:after {
				background-image: url(../tiles/house-7.png);
			}

			.sector-cell.tile.tile-tree-0:after {
				background-image: url(../tiles/tree-0.png);
			}

			.sector-cell.tile.tile-tree-1:after {
				background-image: url(../tiles/tree-1.png);
			}

			.sector-cell.tile.tile-trees-0:after {
				background-image: url(../tiles/trees-0.png);
			}

			.sector-cell.tile.tile-tree-1:after {
				background-image: url(../tiles/trees-1.png);
			}

			.sector-cell.tile.tile-way-0:after {
				background-image: url(../tiles/way-0.png);
			}

			.sector-cell.tile.tile-way-1:after {
				background-image: url(../tiles/way-1.png);
			}

			.sector-cell.tile.tile-light-0:after {
				background-image: url(../tiles/light-0.png);
			}

			.sector-cell.tile.tile-light-1:after {
				background-image: url(../tiles/light-1.png);
			}

			.sector-cell.tile.tile-partition-0:after {
				background-image: url(../tiles/partition-0.png);
			}

			.sector-cell.tile.tile-partition-1:after {
				background-image: url(../tiles/partition-1.png);
			}

			.sector-cell.tile.tile-partition-2:after {
				background-image: url(../tiles/partition-2.png);
			}

			.sector-cell.tile.tile-partition-3:after {
				background-image: url(../tiles/partition-3.png);
			}

			.sector-cell.tile.tile-arr-0:after {
				background-image: url(../tiles/arr-0.png);
			}

			.sector-cell.tile.tile-arr-1:after {
				background-image: url(../tiles/arr-1.png);
			}

			.sector-cell.tile.tile-arr-2:after {
				background-image: url(../tiles/arr-2.png);
			}

			.sector-cell.tile.tile-arr-3:after {
				background-image: url(../tiles/arr-3.png);
			}

			.sector-cell.tile.tile-arr-4:after {
				background-image: url(../tiles/arr-4.png);
			}

			.sector-cell.tile.tile-arr-5:after {
				background-image: url(../tiles/arr-5.png);
			}

			.sector-cell.tile.tile-arr-6:after {
				background-image: url(../tiles/arr-6.png);
			}

			.sector-cell.tile.tile-arr-7:after {
				background-image: url(../tiles/arr-7.png);
			}

			.sector-cell.tile.tile-arr-8:after {
				background-image: url(../tiles/arr-8.png);
			}

			.sector-cell.tile.tile-arr-9:after {
				background-image: url(../tiles/arr-9.png);
			}

			.sector-cell.tile.tile-arr-10:after {
				background-image: url(../tiles/arr-10.png);
			}

			.sector-cell.tile.tile-barrier-0:after {
				background-image: url(../tiles/barrier-0.png);
			}

			.sector-cell.tile.tile-barrier-1:after {
				background-image: url(../tiles/barrier-1.png);
			}

			.sector-cell.tile.tile-barrier-2:after {
				background-image: url(../tiles/barrier-2.png);
			}

			.sector-cell.tile.tile-barrier-3:after {
				background-image: url(../tiles/barrier-3.png);
			}

			.sector-cell.tile.tile-build-1:after {
				background-image: url(../tiles/build-1.png);
			}

			.sector-cell.tile.tile-build-2:after {
				background-image: url(../tiles/build-2.png);
			}

			.sector-cell.tile.tile-build-3:after {
				background-image: url(../tiles/build-3.png);
			}

			.sector-cell.tile.tile-build-4:after {
				background-image: url(../tiles/build-4.png);
			}

			.sector-cell.tile.tile-build-5:after {
				background-image: url(../tiles/build-5.png);
			}

			.sector-cell.tile.tile-build-6:after {
				background-image: url(../tiles/build-6.png);
			}

			.sector-cell.tile.tile-busy-1:after {
				background-image: url(../tiles/busy-1.png);
			}

			.sector-cell.tile.tile-busy-2:after {
				background-image: url(../tiles/busy-2.png);
			}

			.sector-cell.tile.tile-busy-3:after {
				background-image: url(../tiles/busy-3.png);
			}

			.sector-cell.tile.tile-busy-4:after {
				background-image: url(../tiles/busy-4.png);
			}

			.sector-cell.tile.tile-green-1:after {
				background-image: url(../tiles/green-1.png);
			}

			.sector-cell.tile.tile-green-2:after {
				background-image: url(../tiles/green-2.png);
			}

			.sector-cell.tile.tile-green-3:after {
				background-image: url(../tiles/green-3.png);
			}

			.sector-cell.tile.tile-green-4:after {
				background-image: url(../tiles/green-4.png);
			}

			.sector-cell.tile.tile-yellow-1:after {
				background-image: url(../tiles/yellow-1.png);
			}

			.sector-cell.tile.tile-yellow-2:after {
				background-image: url(../tiles/yellow-2.png);
			}

			.sector-cell.tile.tile-yellow-3after {
				background-image: url(../tiles/yellow-3.png);
			}

			.sector-cell.tile.tile-yellow-4:after {
				background-image: url(../tiles/yellow-4.png);
			}

			.sector-cell.tile.tile-narr-1:after {
				background-image: url(../tiles/narr-1.png);
			}

			.sector-cell.tile.tile-narr-2:after {
				background-image: url(../tiles/narr-2.png);
			}

			.sector-cell.tile.tile-narr-3:after {
				background-image: url(../tiles/narr-3.png);
			}

			.sector-cell.tile.tile-narr-4:after {
				background-image: url(../tiles/narr-4.png);
			}

			.sector-cell.tile.tile-narr-5:after {
				background-image: url(../tiles/narr-5.png);
			}

			.sector-cell.tile.tile-narr-6:after {
				background-image: url(../tiles/narr-6.png);
			}

			.sector-cell.tile.tile-narr-7:after {
				background-image: url(../tiles/narr-7.png);
			}

			.sector-cell.tile.tile-narr-8:after {
				background-image: url(../tiles/narr-8.png);
			}

			.sector-cell.tile.tile-flash-1:after {
				background-image: url(../tiles/flash-1.png);
			}
		}

		.sector-row:first-child .sector-cell:last-child {
			border-top-right-radius: 8px;
		}

		.sector-row:last-child .sector-cell:last-child {
			border-bottom-right-radius: 8px;
		}

		.sector-row:first-child .sector-cell:first-child {
			border-top-left-radius: 8px;
		}

		.sector-row:last-child .sector-cell:first-child {
			border-bottom-left-radius: 8px;
		}
	}

	.car {
		height: 100%;
		padding: 0;

		.car-props {
			padding: $spacer $spacer $spacer 100px;
			border-radius: 2px;
			background: transparent url(../img/car-preview.png) 0 0 no-repeat;

			h2 {
				font-size: 21px;
				line-height: 28px;
				font-weight: bold;
				margin-bottom: 0;
			}

			.status-wrapper {
				position: relative;
				padding: $spacer $spacer $spacer 40px;

				span {
					font-size: 12px;
					line-height: 16px;
				}

				.status-text {
					line-height: 19px;

					span {
						width: 24px;
						height: 24px;
						display: inline-block;
						border-radius: 50%;
						text-align: center;
					}
				}

				i {
					position: absolute;
					left: 0;
					display: inline-block;
					margin-top: 10px;
					padding: 0;
					width: 24px;
					height: 24px;
					line-height: 24px;
					border-radius: 50%;
				}
			}

			.status-wrapper.alert {
				position: relative;
				margin-right: -12px;
				margin-bottom: 12px;
				padding-left: 55px;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				i {
					left: $spacer;
					height: initial;
				}
			}

			.prop {
				margin-top: $half-spacer;

				span {
					font-size: 12px;
					line-height: 16px;
				}

				div {
					line-height: 19px;
				}
			}
		}

		.car-status-info {
			padding: $spacer;
			text-align: center;

			div {
				font-size: 24px;
				font-weight: bold;
			}
		}

		.btn-wrapper {

			.btn {
				display: block;
				width: 48%;
				margin-bottom: 2%;

				i {
					display: block;
					font-size: 22px;
					margin-top: 20px;
				}
			}

			.btn:nth-child(1),
			.btn:nth-child(2) {
				line-height: 3;
			}
		}
	}

	main .car.content-wrapper,
	.car.content-wrapper {
		padding: 0;
	}

	.card-checkbox {
		position: relative;
		background-color: $sub-color;

		.name {
			padding: $spacer;
			font-weight: bold;
			line-height: 22px;
		}

		.description {
			margin-top: $half-spacer;
			font-weight: 500;
			line-height: 19px;
			padding-right: 50px;
		}

		.checkbox {
			position: absolute;
			top: 50%;
			right: $spacer;
			z-index: 0;
			width: 24px;
			height: 24px;
			margin-top: -10px;
			border: 2px solid $body-color;
			box-sizing: border-box;
			border-radius: 8px;
		}

		.checkbox.active:after {
			position: absolute;
			top: 4px;
			left: 4px;
			content: "";
			width: 12px;
			height: 12px;
			border: 2px solid $body-color;
			border-radius: 50%;
		}

		.checkbox.active:before {
			position: absolute;
			top: 7px;
			left: 7px;
			content: "";
			width: 6px;
			height: 6px;
			border-radius: 50%;
			border-color: transparent;
			background: theme-color('primary');
		}
	}

	.camera {

		.spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 20;
			width: 150px;
			height: 150px;
			margin-top: -75px;
			margin-left: -75px;
			border: 4px solid $gray-700;
			border-top-color: theme-color('primary');
		}

		.tools {
			position: absolute;
			z-index: 21;
			left: 50%;
			bottom: 100px;
			display: flex;
			justify-content: space-around;
			width: 250px;
			margin-left: -125px;

			span {
				position: relative;
				width: 25%;
				color: $gray-100;
				font-size: 28px;
				text-align: center;

				i {
					color: $gray-100;
					font-size: 28px;
				}
			}

			span:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 1px;
				height: 1px;
				transition: .3s;
			}

			span.light.active:after {
				box-shadow: 0 0 20px 10px theme-color('primary');
			}

			span.front.active:after {
				box-shadow: 0 0 20px 10px $gray-300;
			}
		}

		.opacity {
			position: absolute;
			z-index: 20;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			margin: 0 auto;
			overflow: hidden;
		}

		.opacity:after {
			content: "";
			position: absolute;
			z-index: 20;
			left: 50%;
			top: 50%;
			width: 250px;
			height: 0;
			transition: .7s;
			border-radius: 16px;
			transform: translate(-50%, -50%);
			box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.3);
		}
	}

	.camera.active {

		.spinner {
			width: 0;
			height: 0;
			border: 0;
			transition: .5s;
		}
	}

	.camera.active.scanned {

		.opacity:after {
			width: 250px;
			height: 35vh;
			max-width: 250px;
			max-height: 250px;
		}
	}

	.search-form {
		line-height: 38px;

		button {
			width: 53px;
			margin-left: 10px;
			text-align: center;
			border-radius: 90px;

			i {
				position: absolute;
				top: 0;
				left: 50%;
				font-size: 23px;
				margin-left: -12px;
				line-height: 40px;
			}
		}

		.form-group {
			position: relative;

			input[type="text"] {
				line-height: 38px;
				padding-left: 52px;
			}

			.group-inner-left-icon {
				position: relative;

				i {
					position: absolute;
					top: 0;
					left: $spacer;
					z-index: 10;
					font-size: 25px;
					line-height: 41px;
				}
			}
		}
	}

	.search-filter {
		margin: 0;
		min-height: initial;
		padding-bottom: 75px;
		background-color: transparent;

		.btn-filter {
			position: absolute;
			left: 0;
			bottom: 75px;
			padding: 0 16px;
		}

		h1 {
			font-weight: bold;
			font-size: 17px;
			line-height: 22px;
			margin: 0 $spacer 8px $spacer;
		}

		.filter-wrapper {
			margin: 0;

			.item {
				position: relative;
				border-top: none;
				border-bottom: none;

				input {
					width: 100%;
					line-height: 40px;
					padding: 0 $spacer;
					border: none;
					box-shadow: none;
				}

				i {
					position: absolute;
					right: 8px;
					top: 50%;
					font-size: 24px;
					margin-top: -12px;
				}
			}

			.item {
				position: relative;
				border-top: none;
				border-bottom: none;
				border-right: $input-border-width solid $input-border-color;
				border-left: $input-border-width solid $input-border-color;
			}

			.item:nth-child(odd) {
				border-bottom: none;
				border-top: $input-border-width solid $input-border-color;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}

			.item:nth-child(even) {
				border-top: none;
				border-bottom: $input-border-width solid $input-border-color;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				margin-bottom: 12px;
			}
		}
	}

	.life-search {
		margin-top: 22px;

		.item {
			font-size: 14px;
			line-height: 20px;
			padding: 10px 0;

			i {
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				border-radius: 50%;
				display: none;
				color: $text-muted;
				background-color: theme-color('primary');
			}

			span {
				position: relative;
				z-index: -1;
			}
		}

		.item.active {

			i {
				display: block;
			}
		}
	}

	.blocks-wrapper {

		.block {
			padding: $spacer;
			box-shadow: 0 0 20px rgba(95, 114, 147, 0.2);
			border-radius: 2px;
			font-size: 12px;
			margin-bottom: $spacer;

			.title {
				font-size: 17px;
				font-weight: bold;
			}

			.sub-title {
				font-size: 11px;
			}

			.link {
				margin-top: $spacer;
				text-align: center;

				a {
					font-size: 14px;
				}
			}
		}
	}

	.events {
		margin-top: $spacer;

		.event {
			margin-bottom: $half-spacer;

			.side {
				padding-top: 2px;

				.icon {
					font-size: 16px;
					color: #323232;
				}
			}

			.title {
				font-size: 11px;
				font-weight: 500;
			}

			.description {
				font-size: 11px;
			}
		}
	}

	.stick {
		position: absolute;
		z-index: 50;
		bottom: 150px;
		left: 50%;
		width: 230px;
		margin-left: -115px;
		border-radius: 8px;
		padding: $spacer;
		text-align: center;
		background: #192534;
		box-shadow: $box-shadow;

		.icon-qr_code {
			position: relative;
			top: 4px;
			font-size: 22px;
		}
	}

	.stick.top {
		top: 100px;
		bottom: initial;
		width: 250px;
		margin-left: -125px;
		font-size: 12px;
		padding-bottom: 22px;
	}

	.tech-necessitates-wrapper {

		.h3 {
			margin: $spacer $spacer 0 0;
		}

		.tech-necessitates {
			margin-top: $spacer;

			.item {
				display: block;
				width: 100%;
				text-align: left;
				margin: $half-spacer 0;
				border-radius: $half-spacer;
				padding: $spacer;
			}
		}
	}

	.ticket-item {
		padding: $spacer 20px;
		margin: 0 0 16px 0;
		border-radius: 5px;
		box-shadow: 0 0 20px rgb(95 114 147 / 20%);
		transition: .3s;


		.title {
			font-size: 17px;
			font-weight: 700;
			line-height: 22px;
			text-transform: uppercase;
		}

		.necessitates {

			div {
				font-size: 13px;
				padding-left: 16px;
				position: relative;
			}

			div:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -5px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}
		}

		.btn-wrapper button.moved,
		.btn-wrapper button.necessitates {
			width: 48%;
		}
	}

	.about-wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 0 $spacer;
		text-align: center;

		.logo {
			margin-top: 100px;
		}

		.slogan {
			margin-top: $spacer;
			font-weight: bold;
			font-size: 17px;
			line-height: 22px;
		}

		.version {
			margin-top: $half-spacer;
			font-weight: 500;
			font-size: 10px;
			line-height: 13px;
		}

		.feedback {
			margin-top: 64px;
			padding: 18px;
			border-radius: 8px;

			div {
				font-weight: 600;
				font-size: 13px;
				line-height: 32px;
			}

			span {
				font-weight: bold;
				font-size: 18px;
				line-height: 32px;

				i {
					font-size: 24px;
					position: relative;
					top: 5px;
					margin-right: 5px;
				}
			}
		}
	}

	.profile-info {
		transition: .3s;
		padding: $spacer;
		border-radius: 0 !important;

		.thumb {
			width: 72px;
			height: 72px;
			margin-right: $spacer;
			overflow: hidden;
			border-radius: 50%;

			img {
				width: 100%;
				height: initial;
			}
		}

		.fullname {
			font-weight: bold;
			font-size: 15px;
			line-height: 20px;

			span {
				line-height: 19px;
				font-weight: normal;
				margin-top: $spacer;
			}
		}
	}

	#SIDER {
		position: absolute;
		right: -100vw;
		padding-bottom: 0;

		main {
			padding-bottom: 0;

			.sticker {
				bottom: -100vh;
				transition: .3s;
			}

			.sticker.active {
				bottom: 15px;
			}

			.sticker > div.btn {
				box-shadow: $box-shadow;
			}
		}
	}

	#SIDER.active {
		position: relative;
		right: 0;
		left: initial;
		z-index: 45;
	}
}

#APP.scrolling {
	overflow: initial !important;

	.sector-table {
		overflow: initial !important;
	}
}

@media (max-height: 545px) {

	#AUTH .contact-info {
		display: none;
	}
}
